@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 30, 41, 59;
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  background:
    linear-gradient(
      to bottom,
      rgba(15, 23, 42, 0.75),
      rgba(30, 41, 59, 0.85)
    ),
    url('/court-bg.png') center center / cover no-repeat fixed;
}
